.ListaPG {
    display: flex;
    flex-direction: column;
}

.RigaPG {
    display: grid;
    grid-template-columns: 2em 2em 10em 2em;
}

.BoxTurno {
    grid-column: 1;
}

.BoxIniziativa {
    grid-column: 2;

}

.BoxNome {
    grid-column: 3;

}

.BoxModifica {
    grid-column: 4;
}